/* Style pour le titre dans toutes les pages html. */
.nom-site {
    font-family: 'Roboto', sans-serif;
}


/* Style pour la page principale "index.html". */
.description-accueil {
    font-size: 20px;
}

/* Style pour toutes les pages. */
body {
    background-image: url(../image/image-de-fond.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.message-accueil {
    margin-top: 10%;
    text-align: center;
    font-size: 25px;
}


.boutton-nos-produits {
    margin-top: 50px;
    padding: 15px;
    color: black;
    border-radius: 10px;
    border-style: solid;
    font-size: 15px;
}

.boutton-nos-produits:hover {
    transition-duration: 0.15s;
    background-color: rgb(85, 78, 78);
}


/* Style pour la bare de navigation dans toutes les pages. */
.barre-de-navigation {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.barre-de-navigation ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    text-decoration: none;
}

.barre-de-navigation ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.barre-de-navigation ul li:hover::after {
    width: 100%;
    transition: 0.15;
}

a{
    text-decoration: none;
    color: black;
}




/* Style pour la page inscription.html. */
.message-creer-compte {
    margin-bottom: 50px;
}

.formulaire {
    text-align: center;
    font-size: 20px;
}

.formulaire-inscription {
    margin-bottom: 25px;
}

